body{
  font-family: sans-serif;
  color: white;

}
a{
  text-decoration: none;
  color: white;
}
h1{
  font-family: sans-serif;
  color: white;
  text-align: left;
  font-size: 50px;
  font-weight: bold;
}
.btn {
  background-color: #28b6ff;
  border:none;
  border-radius: 5px;
  backdrop-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
  color: white;
}
.container{
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  align-content: center;
  overflow: hidden;
}
.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;


    background: rgba(255, 255, 255, 0.2); /* Transparent white */
    backdrop-filter: blur(10px); /* Creates the glassy blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Optional: Subtle border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  z-index: 2;

}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container > *{
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.btn-group{
  display: flex;
  align-content: center;
  justify-content: center;
  column-gap: 5px;
}

.nav-link{
  padding: 10px;
  font-size: small;
  font-weight: 20;

}
#brand-logo{
  width: 50px;
  height: 50px;
  padding: 2px;
}
.brand-name{
  font-weight: bold;
  font-size: 1rem;
  padding-left: 5px;
}

.search-bar-container{
  border-radius: 20px;
  background-color: white;
  padding:5px;
}
#search-text::placeholder{
  color: deepskyblue;
}
#search-text{
  border: none;
  min-width: 15rem;
}
#search-btn , #reset-btn{
  padding: 5px;
}
.hero-section{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

}
.hero-bg{
  position: fixed; /* Allows free positioning */
  top: 0;
  left: 0;
  width: 100%; /* Ensures it stretches across the width */
  height: 100%; /* Ensures it stretches across the height */
  object-fit: cover; /* Ensures the aspect ratio is maintained */
  z-index: -1; /* Places the image behind other content */

}
.hero-contents {
  max-width: 50%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  z-index: 1;
  position: relative;
  left: -0.5rem;
  padding-left: 1rem;
  background: linear-gradient(90deg, rgb(32 108 163) 11%, rgba(255, 255, 255, 0) 100%);
}

.btn-hero{
  width: 114px;
  height: 40px;
}

/*<-- About us section-->*/

.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  align-content: center;
  width: 100%;
  height: 100%;
 gap: 1rem;

}

.text-board{
  padding: 15px;
  background: rgba(5, 0, 0, 0.5); /* Transparent white */
  backdrop-filter: blur(2px); /* Creates the glassy blur effect */
  -webkit-backdrop-filter: blur(2px); /* for safari browser support*/
  font-size: large;
  line-height: 1.25;
  font-weight: lighter;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  max-width: 50rem;
  align-self: center;
}

.team-board{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}

.team-heading-wrapper{
  font-size: 50px;
  font-weight: 600;
  width: 200px;
  height: 200px;
  align-self: self-start;
}

.team-members{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  gap:20px;
}
.team-member-wrapper{
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.contact-logo{
  position: relative;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
}

.tm-details-wrapper{
  position: relative;
  left: 50px;
  max-width: 10rem;
}

.tm-member-title{
  background: #28b6ff;
  border-radius: 5px;
  border: 1px  white solid;
  width: fit-content;
  padding: 5px;
}
/*<-- Contact us section-->*/
.contact-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.contact-container{
  width: 100%;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
.contact-form-wrapper{
  width: 20rem;
  height: 20rem;
  background: rgba(5, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  text-align: left;
}
.form-input{
  all:unset;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}

.btn-form{
  width: 100px;
  height: 40px;
}

input:focus,
input:active {
  outline: none; /* Prevents default focus outline */
  border: 1px solid white; /* Prevents default border from appearing */
}

/*--Responsiveness*/

@media (max-width: 715px) {
  .nav-link{
    display: none;
  }
  .search-bar-container{
    display: none;
  }
}
/*-------------
*/
.Recommendations-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  column-gap: 1rem;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 4rem;
  border: 1px solid white;
}
.recommendation-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  max-width: 300px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}
.recommendation-card img {
  width: 100%;
  border-radius: 5px;
}
